.idea/
/assets/*
!/assets/.gitignore
/test/
protected/runtime
.DS_Store

/private_files/*
/cdn/private_files/*
!/private_files/doctors/.gitignore
node_modules
yii
tests
local-urlmanager.php
local-mail-credential.php
local-params.php
_database.local.php

